/* Centrer */
.form-container {
    display: flex;
    justify-content: center;
}

.form-card {
    background: #fff;
    width: 24rem;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.11);
}

.card-title {
    background-color: #00b89c;
    padding: 2rem;
}

.card-title h1 {
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
}

.content {
    padding: 3rem 2.5rem 5rem;
}

button {
    cursor: pointer;
    font-size: 1.2rem;
    color: #00d1b2;
    border-radius: 4rem;
    display: block;
    width: 100%;
    background: transparent;
    border: 2px solid #00d1b2;
    padding: 0.9rem 0 1.1rem;
    transition: color 0.5s, border-color 0.5s;
}