#success {
    display: none;
    padding: 15px 0;
}

.tabs-nav li {
    display: inline-block;
    background: rgba(0, 0, 0, 0.78);
    color: #fefefe;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #34495E;
    margin-right: 5px;
}

.tabs-nav a {
    display: block;
    padding: 10px 15px;
    font-weight: bold;
    color: #fff;
}

.tabs-nav li.active {
    background: #FFF;
    color: #000;
}

.tabs-nav li.active a {
    color: inherit;
}


.tabs-content {
    border: 1px solid #34495E;
    padding: 10px;
    background: #FFF;
    margin-top: -1px;
    overflow: hidden;
}

.tabs-content IMG {
    margin-right: 10px;
}

/* Hide all but first content div */
.tabs-content .tab:not(:first-child) {
    display: none;
}